@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.container {
  width: 1200px;
}

.color-1 {
  color: #721b65;
}

.color-2 {
  color: #ffd868;
}

.bg-color-1 {
  background: #721b65;
}

.bg-color-2 {
  background: #ffd868;
}
